* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url(https://api.blogbig.cn/bing/api.php);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#box {
    width: 1200px;
    height: 620px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.meBox {
    float: left;
    width: 21rem;
    height: 27rem;
    background-color: rgb(255, 255, 255, 0.85);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    margin-top: 10%;
    border-radius: 20px;
    transition: all 0.3s;
    text-align: center;
}

.meBox:hover {
    width: 21.5rem;
    height: 27.5rem;
    margin: 10% 0 0 -3px;
    background-color: rgb(255, 255, 255, 0.95);
}

.headPhoto {
    width: 8rem;
    height: 8rem;
    background: url(YuKongA.png) no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    top: -15%;
    left: 50%;
    margin-left: -4rem;
    transition: all 0.35s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.meBox:hover .headPhoto {
    width: 9rem;
    height: 9rem;
    margin: -0.5rem 0 0 -4.5rem;
    transform: rotate(360deg);
    transition: all 0.5s;
    margin-top: -17px;
}

.meBox-title {
    margin: 0 auto;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.meBox-title p {
    font-size: 1.2rem;
    border-right: 0.125em solid;
    width: 3.5ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(10, end), blink-caret 0.5s step-end infinite alternate;
    margin: 0 auto;
    transition: all 0.3s;
    margin-top: -8px;
}

.meBox:hover .meBox-title p {
    font-size: 1.3rem;
}

.meBox-title .fg {
    width: 80%;
    height: 2.5px;
    background-image: linear-gradient(to left, #3498db, #2980b9);
    margin: 25px 0 0 10%;
}

.meBox-text {
    width: 80%;
    height: 192px;
    overflow: hidden;
    text-align: center;
    color: rgb(88, 88, 88);
    animation-name: meBox-text;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin: 20px 0 0 10%;
    transition: all 0.3s;
}

.meBox:hover .meBox-text {
    font-size: 1.05rem;
}

@keyframes meBox-text {
    0% {
        transform: translateY(50px);
        color: white;
    }

    100% {
        transform: translateY(0);
        color: rgb(88, 88, 88);
    }
}

.meBox-Button1 a {
    float: left;
    margin-left: 10%;
    line-height: 30px;
    text-decoration: none;
    color: rgb(88, 88, 88);
    transition: all 0.3s;
}


.meBox-Button1 a:hover {
    color: rgb(0, 135, 255);
    font-size: 1.1rem;
    margin-left: 9%;
}

.meBox-Button2 a {
    float: right;
    margin-right: 10%;
    line-height: 30px;
    text-decoration: none;
    color: rgb(88, 88, 88);
    transition: all 0.3s;
}


.meBox-Button2 a:hover {
    color: rgb(0, 135, 255);
    font-size: 1.1rem;
    margin-right: 9%;
}


#cmdBox {
    width: 680px;
    float: right;
    margin-top:7.5%;
}

.cmd {
    width: 550px;
    height: 360px;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(255, 255, 255, 0.85);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    transition: all 0.3s;
    font-size: 14px;
    color: rgb(88, 88, 88);
    position: relative;
    top: 0;
    left: 0;
}

.cmd:hover {
    width: 560px;
    height: 370px;
    background-color: rgb(255, 255, 255, 0.95);
    margin: -5px 0 0 -5px;
    z-index: 1;
}

.cmd .title {
    width: 100%;
    height: 20px;
    margin: 7.8px 0 0;
    background-image: white;
    font-size: 15px;
    line-height: 25px;
}

.cmd .title span {
    display: inline-block;
    width: 70%;
    text-align: center;
}

.cmd .click {
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.cmd .click div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 15px 0 0 6px;
    float: left;
}

.cmd .click .red {
    background-color: #FD5A5B;
    box-shadow: 0 0 1px #FD5A5B;
}

.cmd .click .red:hover {
    background-color: #FD5A5B;
    box-shadow: 0 0 5px #FD5A5B;
}

.cmd .click .yellow {
    background-color: #FEB22C;
    box-shadow: 0 0 1px #FEB22C;
}

.cmd .click .yellow:hover {
    background-color: #FEB22C;
    box-shadow: 0 0 5px #FEB22C;
}

.cmd .click .green {
    background-color: #24CC2D;
    box-shadow: 0 0 1px #24CC2D;
}

.cmd .click .green:hover {
    background-color: #24CC2D;
    box-shadow: 0 0 5px #24CC2D;
}

.cmdText {
    padding-top: 18px;
    padding-left: 29px;
    padding-right: 29px;
}

.cmd2 {
    position: relative;
    top: -280px;
    left: 130px;
}

.cmd2 .cmdText .ul {
    margin-left: 15px;
}

.cmd2 .cmdText .ul a {
    text-decoration: none;
    color: rgb(88,88,88);
}

.cmd2 .cmdText .ul a:hover {
    color: rgb(51, 105, 232);
}

#footer {
    width: 100%;
    color: white;
    float: left;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 0.5em 0;
    z-index: 11;
    transition: all .1s ease-out;
}

#footer:hover {
    background-color: rgb(255,255,255,0.85);
    color: rgb(88, 88, 88);
}

#header{
    width: 99%;
    color: white;
    text-align: left;
    padding: 0.5em 0.5em;
}

#header a{
    width: 99%;
    color: white;
    text-decoration: none;
}

#header a:hover {
    color: rgb(51, 105, 232);
}

@media screen and (max-height: 500px) and (min-width: 1280px) {
    #footer {
        background-color: rgb(255,255,255,0.85);
        color:rgb(88, 88, 88);
    }
}


@media screen and (max-width: 1280px) {
    #box {
        width: 100%;
    }

    .meBox {
        width: 21rem;
        float: none;
        margin: 100px auto 100px;
    }

    .meBox:hover {
        width: 21.5rem;
        height: 27.5rem;
        margin: 105px auto 100px;
    }

    .meBox:hover .meBox-text {
        margin-top: 13px;
    }

    .meBox:hover .meBox-title p {
        font-size: 1.2rem;
    }

    #cmdBox {
        float: none;
        margin: 0 auto 100px;
    }
    
    #footer {
        background-color: rgba(255,255,255,.85);
        color: rgb(50, 50, 50);
    }
}

@media screen and (max-width: 700px) {
    .meBox {
        width: 80%;
    }

    .meBox:hover {
        margin-top: 113px;
        width: 80%;
    }

    .meBox:hover .meBox-title p {
        font-size: 1.2rem;
        margin-top: -20px;
    }


    .meBox:hover .meBox-text {
        font-size: 1rem;
        margin-top: 20px;
    }
    
    #cmdBox {
        width: 100%;
        margin-top:-78px;
        height: 797px;
        margin-right: 5%;
    }

    .cmd {
        width: 80%;
        margin: 0 auto;
    }

    .cmd2 {
        position: relative;
        top: 20px;
        left: 0;
    }

    .cmd:hover {
        width: 80%;
        height: 360px;
        margin: 0 auto;
        z-index: 1;
    }
}